<h1>Creacion de un modelo de Regresi√≥n para predecir las personas que fallecen o se recuperan del COVID</h1>

<strong>Autor: </strong> Esteban David Rosero Perez

<h2>Librerias</h2>

In [192]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

<h2>dataset</h2>

In [20]:
df = pd.read_csv('covid.csv')
df.sample(5)

           date  confirmed  deaths  recovered  day
63   2020-05-03      29538    1564       3300  123
318  2021-01-13     224315   14229     193581  378
96   2020-06-05      41575    3534      20568  156
393  2021-03-29     325124   16746     281684  453
45   2020-04-15       7858     388        780  105

In [156]:
df[df['day']==468]

           date  confirmed  deaths  recovered  day
408  2021-04-13     347589   17351     298604  468

<h2>Modelo de Regresion</h2>

In [69]:
featuresDead = df.iloc[:,4:5].values
targetDead = df.iloc[:,2:3].values

In [73]:
featuresRecovered = df.iloc[:,4:5].values
targetRecovered = df.iloc[:,3:4].values

In [82]:
X_train, X_test, y_train, y_test = train_test_split(featuresDead, targetDead, test_size=0.2)

In [83]:
model_dead = LinearRegression()
model_dead = model_dead.fit(X_train,y_train)

In [84]:
print("Dead linear Score : ",model_dead.score(X_test,y_test))

Dead linear Score :  0.9624268243887746

In [85]:
X_train, X_test, y_train, y_test = train_test_split(featuresRecovered, targetRecovered, test_size=0.2)

In [86]:
model_recovered = LinearRegression()
model_recovered = model_recovered.fit(X_train,y_train)

In [87]:
print("Recovered linear Score : ",model_recovered.score(X_test,y_test))

Recovered linear Score :  0.9735775868999801

<h2>Nuevas Pruebas</h2>

In [182]:
data=[]
dead=[]
recovered=[]
for x in range(469,479):
    data.append(x)
    dead.append(round(model_dead.predict(np.array(x).reshape(1,-1))[0][0]))
    recovered.append(round(model_recovered.predict(np.array(x).reshape(1,-1))[0][0]))

In [183]:
inicio = datetime(2021,4,14)
fin    = datetime(2021,4,23)
lista_fechas = [(inicio + timedelta(days=d)).strftime("%Y-%m-%d")
                    for d in range((fin - inicio).days + 1)]

In [184]:
dfnew = pd.DataFrame(list(zip(dead,recovered)), columns = ['dead','recovered'])
dfnew['date']=lista_fechas
dfnew

      dead  recovered        date
0  18819.0   270847.0  2021-04-14
1  18868.0   271618.0  2021-04-15
2  18916.0   272388.0  2021-04-16
3  18964.0   273159.0  2021-04-17
4  19012.0   273930.0  2021-04-18
5  19061.0   274701.0  2021-04-19
6  19109.0   275472.0  2021-04-20
7  19157.0   276243.0  2021-04-21
8  19205.0   277014.0  2021-04-22
9  19253.0   277784.0  2021-04-23

<h2>Porcentaje de Crecimiento por dia</h2>

In [188]:
porcDead=[]
for d in range(0,9):    
    porcDead.append((100*(dead[d]-dead[d+1]))/dead[d+1])
porcDead

[-0.2596989612041552,
 -0.2537534362444491,
 -0.2531111579835478,
 -0.25247212286976645,
 -0.2570694087403599,
 -0.2511905384897169,
 -0.25056115258130185,
 -0.2499349127831294,
 -0.24931179556432764]

In [189]:
porcRec=[]
for d in range(0,9):    
    porcRec.append((100*(recovered[d]-recovered[d+1]))/recovered[d+1])
porcRec

[-0.28385453099573665,
 -0.28268499346520404,
 -0.28225319319517206,
 -0.28145876683824333,
 -0.28066879989515875,
 -0.27988325492246036,
 -0.27910209489471227,
 -0.2783252831986831,
 -0.27719379085908474]